#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
# PlanAhead Generated physical constraints 
NET "SW_I[0]" LOC = A10 |IOSTANDARD = LVCMOS33;
NET "SW_I[1]" LOC = D14 |IOSTANDARD = LVCMOS33;
NET "SW_I[2]" LOC = C14 |IOSTANDARD = LVCMOS33;
NET "SW_I[3]" LOC = P15 |IOSTANDARD = LVCMOS33;
NET "SW_I[4]" LOC = P12 |IOSTANDARD = LVCMOS33;
NET "SW_I[5]" LOC = R5 |IOSTANDARD = LVCMOS33;
NET "SW_I[6]" LOC = T5 |IOSTANDARD = LVCMOS33;
NET "SW_I[7]" LOC = E4 |IOSTANDARD = LVCMOS33;

NET "LED_O[0]" LOC = U18 |IOSTANDARD = LVCMOS33;
NET "LED_O[1]" LOC = M14 |IOSTANDARD = LVCMOS33;
NET "LED_O[2]" LOC = N14 |IOSTANDARD = LVCMOS33;
NET "LED_O[3]" LOC = L14 |IOSTANDARD = LVCMOS33;
NET "LED_O[4]" LOC = M13 |IOSTANDARD = LVCMOS33;
NET "LED_O[5]" LOC = D4 |IOSTANDARD = LVCMOS33;
NET "LED_O[6]" LOC = P16 |IOSTANDARD = LVCMOS33;
NET "LED_O[7]" LOC = N12 |IOSTANDARD = LVCMOS33;
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "A16"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "B16"  |  IOSTANDARD = "LVCMOS33";
NET rzq IOSTANDARD = "LVCMOS18_JEDEC";
NET zio IOSTANDARD = "LVCMOS18_JEDEC";
#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET "hdmi_out_0_TMDS_pin(0)"  	LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
NET "hdmi_out_0_TMDSB_pin(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(2)"  	LOC = "B8" | IOSTANDARD = TMDS_33 ; # Red
NET "hdmi_out_0_TMDSB_pin(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(1)"  	LOC = "C7" | IOSTANDARD = TMDS_33 ; # Green
NET "hdmi_out_0_TMDSB_pin(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(3)"  	LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
NET "hdmi_out_0_TMDSB_pin(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;

############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=3.3; # Valid values are 2.5 and 3.3


NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[7]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[7]" LOC = R11;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[6]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[6]" LOC = M11;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[5]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[5]" LOC = U13;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[4]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[4]" LOC = U15;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[3]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[3]" LOC = U16;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[2]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[2]" LOC = V15;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[1]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[1]" LOC = U11;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[0]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMA_D_I[0]" LOC = M10;
NET "CAMA_FV_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMA_FV_I" LOC = T12;
NET "CAMA_LV_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMA_LV_I" LOC = N10;
NET "CAMA_PCLK_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMA_PCLK_I" LOC = R10;
NET "CAMA_SDA" IOSTANDARD = I2C;
NET "CAMA_SDA" LOC = P11;
NET "CAMA_SCL" IOSTANDARD = I2C;
NET "CAMA_SCL" LOC = V12;
NET "CAMA_PWDN_O" IOSTANDARD = LVCMOS33;
NET "CAMA_PWDN_O" LOC = T11;
NET "CAMA_MCLK_O" IOSTANDARD = LVCMOS33;
NET "CAMA_MCLK_O" LOC = N11;
NET "CAMA_RST_O" IOSTANDARD = LVCMOS33;
NET "CAMA_RST_O" LOC = V13;
NET "CAMA_RST_O" DRIVE = 24;

NET "CAMX_VDDEN_O" IOSTANDARD = LVCMOS33;
NET "CAMX_VDDEN_O" LOC = V16;


NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[7]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[7]" LOC = T6;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[6]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[6]" LOC = N7;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[5]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[5]" LOC = U7;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[4]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[4]" LOC = U8;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[3]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[3]" LOC = M8;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[2]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[2]" LOC = R8;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[1]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[1]" LOC = V5;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[0]" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "vmodcam_0/vmodcam_0/USER_LOGIC_I/Inst_VmodCAM/CAMB_D_I[0]" LOC = U5;
NET "CAMB_FV_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMB_FV_I" LOC = R7;
NET "CAMB_LV_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMB_LV_I" LOC = N6;
NET "CAMB_PCLK_I" IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "CAMB_PCLK_I" LOC = U10;
NET "CAMB_SDA" IOSTANDARD = I2C;
NET "CAMB_SDA" LOC = V6;
NET "CAMB_SCL" IOSTANDARD = I2C;
NET "CAMB_SCL" LOC = P8;
NET "CAMB_PWDN_O" IOSTANDARD = LVCMOS33;
NET "CAMB_PWDN_O" LOC = T8;
NET "CAMB_MCLK_O" IOSTANDARD = LVCMOS33;
NET "CAMB_MCLK_O" LOC = V8;
NET "CAMB_RST_O" IOSTANDARD = LVCMOS33;
NET "CAMB_RST_O" LOC = N8;

#Created by Constraints Editor (xc6slx45-csg324-2) - 2011/03/22
NET "CAMA_PCLK_I" TNM_NET = "CAMA_PCLK_I";
TIMESPEC TS_CAMA_PCLK_I = PERIOD "CAMA_PCLK_I" 80 MHz HIGH 50 %;
NET "CAMB_PCLK_I" TNM_NET = "CAMB_PCLK_I";
TIMESPEC TS_CAMB_PCLK_I = PERIOD "CAMB_PCLK_I" 80 MHz HIGH 50 %;

#Created by Constraints Editor (xc6slx45-csg324-2) - 2011/03/29

OFFSET = IN 1.25 ns VALID 7.5 ns BEFORE "CAMA_PCLK_I" RISING;
OFFSET = IN 1.25 ns VALID 7.5 ns BEFORE "CAMB_PCLK_I" RISING;